html {
  font-size: 10px;

  @media screen and (min-width: 376px) {
    font-size: 12px;
  }

  @media screen and (min-width: 541px) {
    font-size: 15px;
  }

  @media screen and (min-width: 700px) {
    font-size: 17px;
  }

  $COLOR_PRIMARY: #e91e63;

  .text-primary {
    color: $COLOR_PRIMARY;
  }

  .bg-primary {
    background: $COLOR_PRIMARY;
  }

  .text-white {
    color: #fff;
  }

  .text-muted {
    color: #888;
  }

  .text-success {
    color: #adff2f;
  }

  .text-danger {
    color: #f93c3c;
  }

  .blinking {
      animation: blinker 2s ease-in-out infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  body {

    #root {
      height: 100%;
    }

    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    font-family: 'Noto Sans', 'Roboto', sans-serif;
    background: #37474f;
    color: #fff;

    .app {

      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;
      padding: 0 4em;

      header {
        h1 {
          text-align: center;
          font-size: 180%;
          margin-top: 1.6em;
        }
      }

      .indicators {
        display: flex;
        position: absolute;
        right: 2em;
        top: 3em;
        .svg-inline--fa {
          &:first-of-type {
            margin-right: 0.6em;
          }
        }
      }
    
      .preset {
        position: relative;
        font-size: 220%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.6em;
        margin-bottom: 1.6em;
        &:before {
          position: absolute;
          top: -1.2em;
          font-size: 0.5em;
          left: 0;
          content: 'Mode';
        }
      }
    
      .toggle {
    
        border: none;
        background: none;
      
        color: #fafafa;
        &.off {
          color: #374750;
        }

        &:active {
          .svg-inline--fa {
            color: darken(#fafafa, 15%);
            background: darken($COLOR_PRIMARY, 15%);
          }
        }
      
        font-size: 8em;
      
        .svg-inline--fa {
          padding: 1em;
          border-radius: 100%;
          background: $COLOR_PRIMARY;
          transition: all .2s ease-in-out;
        }

        &:focus {
          outline: none;
        }
      
      }
    
      .brightness {
        position: relative;
        font-size: 3em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2em;
      
        &:after {
          content: 'Brightness';
          position: absolute;
          font-size: 0.4em;
          top: 2.6em;
          left: calc(50% - 40px);
        }
      
        .slider {
          position: relative;
          height: 6px;
          border-radius: 2px;
          width: 70%;
          background: #62727b;
      
          .svg-inline--fa {
            &:first-of-type {
              color: #b1b1b1;
            }
          }
      
          .handle {
            background: #fff;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            position: absolute;
            top: calc(50% - 15px);
            left: 60%;
          }
        }
      }
    
      .buttons {
        position: relative;
        font-size: 3em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3em;
        margin-bottom: 1.6em;
      }
    
    }

  }

}
