
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.toggle {
  width: 80vw;
  height: 40vh;
  background: #ddd;
  display: block;
  border: none;
}

.toggle:focus {
  background: #888;
}